:root {
    --nord0: #2E3440;
    --nord1: #3B4252;
    --nord2: #434C5E;
    --nord3: #4C566A;
    --nord4: #D8DEE9;
    --nord5: #E5E9F0;
    --nord6: #ECEFF4;
    --nord7: #8FBCBB;
    --nord8: #88C0D0;
    --nord9: #81A1C1;
    --nord10: #5E81AC;
    --nord11: #BF616A;
    --nord12: #D08770;
    --nord13: #EBCB8B;
    --nord14: #A3BE8C;
    --nord15: #B48EAD;
}

html {
    background-color: var(--nord6);
}

body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}

.header,
.content,
.footer {
    align-items: stretch;
}

.header {
    display: flex;
    flex-direction: column;
    flex: 0;
    min-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.titlebox {
    flex: 0;
    margin: auto;
}

.titlebox a {
    text-decoration: none;
}

.title {
    font-family: 'EB Garamond', Garamond, serif;
    font-weight: 700;
    color: var(--nord0);
    font-size: 2.5em;
    text-align: center;
}

.sitelinks,
.content,
.footer {
    display: flex;
}

.sitelinks {
    align-items: space-between;
    flex: 0;
    min-width: 75%;
    font-family: 'EB Garamond', Garamond, serif;
    font-size: 1em;
    text-align: center;
    background: var(--nord8);
    padding: 0.3em;
    border-radius: 0.75em;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.sitelinks div {
    flex: 1 0;
}

.mainlink {
    padding: 1%;
    border-radius: 10px;
    font-weight: 700;
}

@media (max-width: 475px) {
    .sitelinks {
        flex-direction: column;
        min-width: 40%;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        min-height: 7em;
    }
}

a:link {
    color: var(--nord0);
}

a:visited {
    color: var(--nord0);
}

a {
    transition: color 0.5s
}

.mainlink a {
    text-decoration: none;
}

.mainlink a:hover {
    color: var(--nord10)
}

.content {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    flex: 3;
    display: flex;
}

.content.home {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    max-width: 75%;
}

.textcontent.home {
    margin-right: 2%;
}

.pic {
    margin-left: 2%;
}

#face {
    height: auto;
    width: 100%;
}

.content.research,
.content.teaching {
    flex-direction: column;
    max-width: 50%;
}

.textcontent.research,
.textcontent.teaching {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.textcontent a:hover {
    color: var(--nord10)
}

.content h2 {
    font-family: 'EB Garamond', Garamond, serif;
    color: var(--nord0);
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.5ch;
}

.content h3 {
    font-family: 'EB Garamond', Garamond, serif;
    font-style: italic;
    text-align: center;
    font-weight: 500;
    margin: 0;
    margin-bottom: 0.5ch;
}

.content p {
    font-family: 'Nunito Sans', Helvetica, sans-serif;
    color: var(--nord0);
    text-align: justify;
    font-size: 1em;
}

@media (max-width: 800px) {
    .content.home {
        flex-direction: column;
    }

    .textcontent.home {
        margin-right: auto;
    }

    .pic {
        margin-right: auto;
        margin-left: auto;
    }
}

.footer {
    font-size: 1em;
    flex: 0;
    background: var(--nord8);
    justify-content: space-around;
}

.footer div {
    flex: 0;
}

.social-link {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    color: var(--nord0);
}

.social-link a {
    text-decoration: none;
}

.social-link a:hover {
    color: var(--nord10)
}
