html {
    background-color: white;
}

.intro {
    font-family: 'Nunito Sans', Helvetica, sans-serif;
    color: black;
    text-align: left;
}

.header {
    font-family: 'EB Garamond', Garamond, serif;
}

h1 {
    font-size: 20;
}

p {
    font-size: 12;
}

a:hover {
    color: blue;
}

#face {
    height: auto;
    width: 300px;
}
