:root {
    --nord0: #2E3440;
    --nord1: #3B4252;
    --nord2: #434C5E;
    --nord3: #4C566A;
    --nord4: #D8DEE9;
    --nord5: #E5E9F0;
    --nord6: #ECEFF4;
    --nord7: #8FBCBB;
    --nord8: #88C0D0;
    --nord9: #81A1C1;
    --nord10: #5E81AC;
    --nord11: #BF616A;
    --nord12: #D08770;
    --nord13: #EBCB8B;
    --nord14: #A3BE8C;
    --nord15: #B48EAD;
}

/* Deal with common link properties here since they don't fit nicely elsewhere */
a {
    transition: color 0.5s
}

a:link {
    color: var(--nord0);
}

a:visited {
    color: var(--nord0);
}

body,
.header,
.sitelinks,
.content,
.footer {
    display: flex;
}

body {
    flex-flow: column nowrap;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    background: var(--nord6);
    align-items: center;
    justify-content: stretch;
}

/* page masthead */
.header {
    flex-flow: column nowrap;
    min-width: 75%;
    margin: 0px auto;
}

.titlebox {
    margin: auto;
}

.titlebox a {
    text-decoration: none;
}

.title {
    font-family: 'EB Garamond', Garamond, serif;
    font-weight: bold;
    color: var(--nord0);
    font-size: 56px;
}

.sitelinks {
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    background: var(--nord8);
    padding: 0.1% 1%;
    border-radius: 0.75em;
    margin: auto;
}

.mainlink {
    font-family: 'EB Garamond', Garamond, serif;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
    padding: 1%;
    border-radius: 10px;
}

a:hover.mainlink {
    color: var(--nord10)
}

/* main content */
.content {
    width: 75%;
    margin: 2% auto;
    flex: 1;
}

/* first do general paragraph styles */
.content h2 {
    font-family: 'EB Garamond', Garamond, serif;
    color: var(--nord0);
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.5ch;
}

.content h3 {
    font-family: 'EB Garamond', Garamond, serif;
    font-size: 34px;
    text-align: center;
    font-weight: 500;
    margin: 0;
    margin-bottom: 0.5ch;
}

.content li,
.content p {
    font-family: 'Nunito Sans', Helvetica, sans-serif;
    font-size: 21px;
    color: var(--nord0);
    text-align: justify;
}

/* now specific classes and media queries */
.content.home {
    flex-flow: row nowrap;
    align-items: center;
}

.textcontent.home {
    margin-right: 2%;
}

.pic {
    display: flex;
    justify-content: center;
}

#face {
    height: auto;
    width: 75%;
}

@media (max-width: 800px) {
    .content.home {
        flex-flow: column nowrap;
    }

    .textcontent.home {
        margin-right: auto;
    }

    .pic {
        margin-right: auto;
        margin-left: auto;
    }
}

.content.research,
.content.teaching {
    flex-flow: column nowrap;
}

.textcontent.research,
.textcontent.teaching {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 1em auto 0em;
}

.subhead {
    text-align: center;
}

.textcontent a:hover {
    color: var(--nord10)
}

.footer {
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
    font-size: 21px;
    background: var(--nord8);
}

.social-link {
    margin: auto 0px;
    font-weight: bold;
    color: var(--nord0);
}

.social-link a {
    text-decoration: none;
}

.social-link a:hover {
    color: var(--nord10)
}
